.product__item {
    cursor: pointer;
    /* border: 1px solid rgba(0, 0, 0, 0.079); */
    box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.116);
    border-radius: 5px;
}

.mb-2 {
    width: 20%;
}

.product__info h3 {
    font-size: 1.2rem;
    color: var(--primary-color);
    font-weight: 600;
    margin-top: 15px;
}

.product__img img{
    height: 300px;
    object-fit: contain;
}


.product__info {
    margin-top: 5px;
    height: 60px;
    text-align: center;
}

.product__info h3 a:hover {
    color: inherit;
}

.product__info span {
    font-size: 0.9rem;
}

.product__cart-bottom .price {
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 500;
}

.product__cart-bottom span i{
    font-size: 1.2rem;
    padding: 5px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 50px;
}

@media only screen and (max-width: 1200px) {
    .mb-2 {
        width: 25%;
    }
}

@media only screen and (max-width: 992px) {

    .mb-2 {
        width: 33.33%;
    }

    .product__info h3 a {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 768px) {
    .mb-2 {
        width: 50%;
    }

    .product__img img{
        height: 250px;
        object-fit: contain;
        border-radius: 5px;
    }

    .product__info h3 a {
        font-size: 1rem;
    }

    .product__cart-bottom span i {
        font-size: 1rem;
    }
}