.filter__widget select {
    padding: 8px 20px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    border-radius: 5px;
    background: var(--primary-color); 
    color: #fff;
}

.filter__widget select:focus {
    outline: none !important;
}

.filter__widget section option {
    font-size: 0.9rem;
}


/* paginate */

.down {
    width: 100%;
    /* background: red; */
}

.pagination-main{
    /* background-color: red; */
    /* width: 300px; */
    display: flex;
    justify-content: center;
}

/* .page {
    display: flex;
    justify-content: space-between;
    
} */

ul.page {
    width: 100%px;
    height: 50px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}   

.page-num {
    margin: 0px 2px;
    border: black solid 1px;
    padding: 2px 10px;
    border-radius: 25px;
    color: rgba(23, 21, 21, 0.803);

}

.page-num:hover {
    background-color: #0d306218;
    color: rgb(20, 19, 19);
}

.page-num-active {
    background-color: #10121584;
    color: white;
}


@media only screen and (max-width: 700px) {
    .page-num {
        font-size: 10px;
    }

}

@media only screen and (max-width: 600px) {
    .page-num {
        font-size: 10px;
        width: 10px;
        margin: 30px 4px;
        padding: 5px 13px;
    }

    .page {
        

    }

    .pagination-main{
        /* display: block;
        width: 300px; */

    }

}



/* @media only screen and (max-width: 968px) {
    .filter__widget {
        margin-bottom: 30px;
    }

    .filter__widget select {
        padding: 7px 20px;
        font-size: 0.9rem;
    }
} */
